/* Fonts */

@font-face {
    font-family: "Variane";
    src: url(./assets/font/VarianeScript.ttf);
}

@font-face {
    font-family: "Simplifica";
    src: url(./assets/font/Simplifica.ttf);
}

body {
    margin:0;
    padding:0;
/*    font-size:80px; */
    font-family:"Simplifica"; 
    font-weight:bold; 
    text-align:center;
}

.page {
    margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative; 
    height: 800px;
    color: #fff;
}

.divider {
    background-color: #fff;
    height: 300px;
    margin: 0 auto; 
    width: 100%; 
    max-width: 1920px; 
    position: relative;
}

.page .content {
    height: 450px; 
    top: 130px; 
    position: absolute;
    width: 100%;
}

.divider .content { 
    padding-top:50px; 
    height: 250px; 
    position: absolute;
    width: 100%;
}


/* Background images */

#home {
    background: url(./assets/image/01.jpeg) no-repeat fixed 50% 0 / cover;
}

#purpose { 
    background: url(./assets/image/02.jpeg) no-repeat fixed 50% 0 / cover;
}

#sponsors { 
    background: url(./assets/image/03.jpeg) no-repeat fixed 50% 0 / cover;
}

#tickets { 
    background: url(./assets/image/04.jpeg) no-repeat fixed 50% 0 / cover;
}


/* Dot pattern */

.dots {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('./assets/image/DotMask.png');
    z-index: 1;
}


/* Text styles */


.headerPresenter {
    text-transform: uppercase;
    font-size: 2em;
    line-height: 1.5em;
}

.headerPresents {
    font-family: "Variane";
    font-size: 3em;
    line-height: 1.5em;
}

.headerTitle {
    font-family: "Variane";
    font-size: 5em;
    line-height: 1.5em;
}

.headerDescription {
    text-transform: uppercase;
    font-size: 1.5em;
    line-height: 3.5em;
}

h1 {
    font-family: "Variane";
    font-size: 3em;
}